<template name="courses_form">
    <form>
        <div class="col-xs-12">
            <label for="courses-name">{{_ "name"}}</label>
            <input autofocus type="text" class="form-control" id="courses-name" name="courses-name" required="true" value="{{course.name}}" {{ternary viewMode "disabled" ""}}>
        </div>

        <div class="col-xs-12 col-sm-6">
            <label>{{_ "created_by"}}</label>
            <input type="text" class="form-control" disabled value="{{course.createdBy.profile.name}}">
        </div>
        <div class="col-xs-12 col-sm-6">
            <label>{{_ "edited_by"}}</label>
            <input type="text" class="form-control" disabled value="{{course.editedBy.profile.name}}">
        </div>
        <div class="col-xs-12 margin-top-10">
            {{#unless viewMode}}
                <button class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    {{_ "save"}}
                </button>
            {{/unless}}
        </div>
    </form>
</template>